# Dependencies
node_modules/
*.egg-info/
venv/

# Generated parsers
python3.js

# Log files
*.log

# Source code editing
.vscode/
.vs/

# Build files
dist/
lib/
gather-*.tgz

# Notebooks
notebooks/
Untitled*
.ipynb_checkpoints

# Miscellany
*.bundle.*
.DS_Store
