:root {
  --jp-icon-gather: url('icons/gather.png');
  --jp-icon-history-viewer: url('icons/history_viewer.png');
}

.jp-HistoryViewerIcon {
  background-image: var(--jp-icon-history-viewer);
  background-size: 100%;
}

/* Revision browser */
.jp-HistoryViewer {
  width: 100%;
  height: 95%;
  margin: auto;
  text-align: center;
}

.jp-HistoryViewer .jp-HistoryViewer-referenceversion,
.jp-HistoryViewer .jp-HistoryViewer-olderversions {
  display: inline-block;
  vertical-align: top;
}

.jp-HistoryViewer-referenceversion {
  max-width: 30%;
  background-color: rgba(255, 255, 255, .3);
  /* margin-right: 50px; */
}

.jp-HistoryViewer-olderversions {
  max-width: 60%;
  height: 100%;
  margin-left: 30px;
  overflow-x: auto;
  mask-image: linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%)
}

.jp-HistoryViewer-olderversions-revisions {
  padding-left: 5%;
  padding-right: 5%; /* Chosen to match the gradient size */
  white-space: nowrap;
}

.jp-Revision {
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.jp-HistoryViewer-referenceversion .jp-Revision-header {
  font-weight: bold;
}

.jp-Revision-header {
  background-color: white;
  border: 1px solid black;
  font-size: medium;
  padding-left: 1ex;
  padding-right: 1ex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.jp-CellArea {
  display: flex;
  flex-direction: row;
}

.jp-SlicedCell {
  padding: var(--jp-cell-padding);
  overflow-x: auto;
  width: 100%;
}

.jp-CellArea:not(:last-child) {
  margin-bottom: 0.5em;
}

.jp-SlicedCell .jp-SlicedCell-editor {
  border: 1px solid black;
  background-color: #f5f5f5;
  text-align: left;
  width: 100%;
}

.jp-SlicedCell-editor-updatedtext:not(.jp-SlicedCell-editor-outofslicetext) {
  background-color: yellow;
}

.jp-SlicedCell-editor-unchangedtext {
   opacity: 1;
}

/* Every line that isn't in the slice. */
.jp-SlicedCell-editor-outofslicetext {
  opacity: .5;
  text-decoration: line-through;
  text-decoration-color: lightgray;
}

.jp-SlicedCell-editor-hidetext {
  opacity: .5;
  font-style: italic;
}

.jp-DiffedCell-editor-aftertext {
  background-color: #e0ffe5;
}

.jp-DiffedCell-editor-aftertext.jp-DiffedCell-editor-changedtext {
  font-weight: bold;
  background-color: #bcffc7;
}

.jp-DiffedCell-editor-beforetext {
  background-color: #ffe5e5;
}

.jp-DiffedCell-editor-beforetext.jp-DiffedCell-editor-changedtext {
  font-weight: bold;
  background-color: #ffbaba;
}

/* Buttons for gathering from revision browser */
.jp-Revision-buttons {
  flex-direction: row;
  display: flex;
  margin-bottom: 0.5em;
}

.jp-Revision-button {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.42857143;
}

.jp-Revision-button:not(:last-child) {
  margin-right: 1px;
}

.jp-Revision-button span.jp-Revision-button-label {
  margin-left: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Output prompt (so we can show tool buttons) */
.jp-OutputArea {
  overflow-y: visible;
  overflow: visible;
}

.jp-OutputPrompt {
  overflow: visible;
}