@import './history.css';

/**
 * Gather button
 */
 .jp-Toolbar-gatherlabel {
   float: left;
   vertical-align: middle;
   padding-top: 3px;
   padding-left: 10px;
   padding-right: 4px;
 }

.jp-Toolbar-gatherbutton.jp-Toolbar-gatherbutton-inactive {
  opacity: .8;
}

.jp-Toolbar-gatherbutton.jp-Toolbar-button-glow {
   background-color: var(--brand-color5);
   border-color: var(--brand-color1);
   box-shadow: 0 0 3px var(--brand-color2);
 }

.jp-Toolbar-gatherbutton.jp-Toolbar-button-glow:hover {
  box-shadow: 0 0 10px var(--brand-color0);
}

 .jp-Toolbar-gathertoclipboardbutton.jp-Toolbar-button-glow,
 .jp-Toolbar-gathertonotebookbutton.jp-Toolbar-button-glow, 
 .jp-Toolbar-gatherhistorybutton.jp-Toolbar-button-glow {
   background-color: var(--brand-color5);
   border-color: var(--brand-color1);
   box-shadow: 0 0 3px var(--brand-color1);
 }

 .jp-Toolbar-clearbutton.jp-Toolbar-button-glow, .jp-Toolbar-mergebutton.jp-Toolbar-button-glow {
   background-color: #f4f4f4;
   border-color: #bbbbbb;
   box-shadow: 0 0 7px #bbbbbb;
 }

/**
 * Clues for gatherable text.
 */
.jp-InputArea-editor-nametext {
  font-weight: bold;
  background-color: var(--brand-color3);
  border-radius: 3px;
}

.jp-InputArea-editor-nametext:hover {
  background-color: var(--brand-color2);
  cursor: pointer;
}

.jp-InputArea-editor-nametext.jp-InputArea-editor-nametext-selected {
  box-shadow: inset 0 0 2px #222222;  /* border */
  background-color: var(--brand-color2);
}

.jp-InputArea-editor-nameline-selected:after {
  content: "★";
  position: absolute;
  right: 14px;
  font-weight: bold;
}

.jp-InputArea-editor-dependencyline {
  background-color: var(--brand-color4);
}

/**
 * Clues for gatherable results.
 */
.jp-OutputArea-highlighted {
  border: 1px solid var(--brand-color3);
  border-radius: 3px;
}

.jp-OutputArea-highlighted:hover {
  box-shadow: inset 0 0 3px var(--brand-color2);
  cursor: pointer;
}

.jp-OutputArea-highlighted.jp-OutputArea-selected {
  box-shadow: inset 0 0 10px var(--brand-color0);
}

.jp-OutputArea-highlighted.jp-OutputArea-selected:after {
  content: "★";
  position: absolute;
  top: 6px;
  right: 14px;
  font-weight: bold;
}

/* Gather tool buttons */
.jp-OutputArea-child {
  overflow: visible;
}

.jp-GatherWidget {
  /* XXX: So the buttons don't add vertical height to the prompt. */
  position: absolute;
  bottom: -40px;
  right: 0px;
  overflow: visible;
  z-index: 100;
}

.jp-Notebook :not(.jp-mod-active).jp-Cell .jp-OutputPrompt {
  /* XXX: Don't make the prompt translucent; make just its text translucent, so the gather buttons
     can be opaque. */
  color: rgba(0, 0, 0, 0.32);
  opacity: 1;
}

.jp-GatherWidget-button {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.jp-GatherWidget-button:hover {
  border-width: 3px;
}

.jp-GatherWidget-historybutton {
  background-image: var(--jp-icon-history-viewer);
}

.jp-GatherWidget-gatherbutton {
  background-image: var(--jp-icon-gather);
}

/* Notifications */
.jp-Toolbar-notification {
  margin-top: -3px;
}

/* General PhosphorJS rules */
.p-mod-hidden {
  display: none;
}