@import './history.css';

/**
 * Clues for gatherable text.
 */
.jp-InputArea-editor-nametext {
  font-weight: bold;
  background-color: var(--brand-color3);
}

.jp-InputArea-editor-nametext:hover {
  background-color: var(--brand-color2);
  cursor: pointer;
}

/* Gather tool buttons */
.jp-OutputArea-child {
  overflow: visible;
}

.jp-GatherWidget {
  /* XXX: So the buttons don't add vertical height to the prompt. */
  position: absolute;
  bottom: -40px;
  right: 0px;
  overflow: visible;
  z-index: 100;
}

.jp-Notebook :not(.jp-mod-active).jp-Cell .jp-OutputPrompt {
  /* XXX: Don't make the prompt translucent; make just its text translucent, so the gather buttons
     can be opaque. */
  color: rgba(0, 0, 0, 0.32);
  opacity: 1;
}

.jp-GatherWidget-button {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.jp-GatherWidget-button:hover {
  border-width: 3px;
}

.jp-GatherWidget-historybutton {
  background-image: var(--jp-icon-history-viewer);
}

.jp-GatherWidget-gatherbutton {
  background-image: var(--jp-icon-gather);
}

/* Notifications */
.jp-Toolbar-notification {
  margin-top: -3px;
}